.container-cadastro {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--background-primary);
}

.title-cadastro {
    padding: 15px 0;
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
}

.form-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-input{
    width: 100%;
    max-width: 400px;
    padding: 8px 15px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.input-cadastro{
    width: 100%;
    height: 2rem;
    outline: none;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 8px;
    background-color: var(--color-primary);
    color: #161414;
    font-size: 1rem;
    font-weight: bold;
}

.cadastro-label{
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.form-btn-container{
    width: 100%;
    max-width: 280px;
    padding: 8px 15px;

    outline-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.btn-cadastro{
    width: 12rem;
    height: 3rem;

    background: var(--background-btn-secondary-light);
    border-radius: 9px;

    font: 700 1rem Poppins;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    color: var(--color-primary);

    transition: background 0.4s;
}

.btn-cadastro:hover {
    background :var(--background-btn-secondary);
}

.icon-buttom {
    height: 30px;
    margin-right: 10px;
    border: 1px solid var(--color-primary);
}

.container-check{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
}

.check-form{
    width: 1.1rem;
    height: 1.1rem;

    border-radius: 4px;
    border: 1px solid var(--color-primary);
    outline: none;

    margin-right: 8px;
}

@media (min-width: 750px) {

}

.label-check{

}