.register-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
    color: var(--color-primary);
    background: var(--background-primary);
    overflow: hidden;
    padding: 1% 0;

    font-size: 1.5rem;
    font-family: Poppins, sans-serif;
}

.register-container .all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-user {
    width: 93%;
    height: 47%;
    margin: 15px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;

    border-radius: 20px;
    padding: 5% 10%;
    background: var(--background-secondary);
}

.register-user p,
.register-idea p{
    font-size: 1.2rem;
    margin: 15px 0;
}

.register-idea {
    width: 93%;
    height: 47%;
    margin: 15px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
    border-radius: 20px;
    padding: 5% 10%;
    background: var(--background-idea);
}

.icon-register {
    width: 4.5rem;
}

.btn-register {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    font-size: 1.5rem;
    font-family: Archivo, sans-serif;
    border: none;
    border-radius: 15px;
    color: var(--color-primary);
    background: var(--color-primary);
    cursor: pointer;
    outline: none;
}

.btn-register:hover {
    border: 2px solid var(--color-primary);
}

.btn-user {
    width: 240px;
    background: var(--background-btn-user);
}

.btn-idea {
    width: 240px;
    background: var(--background-btn-idea);
}

@media (min-width: 700px) {
    .register-container {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }

    .register-user {
        width: 46%;
        height: 98%;
        padding: 9.5% 5%;
    }

    .register-idea {
        width: 46%;
        height: 98%;
        padding: 10% 5%;
    }

    .icon-register {
        width: 4rem;
    }

    .btn-register {
        height: 4rem;
        font-size: 1.5rem;
    }

    .btn-user {
        width: 240px;
    }
    
    .btn-idea {
        width: 240px;
    }
}