@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&family=Ranchers&display=swap');

:root{
    --background-primary: #009FFD;
    --background-secondary: #0370af;
    --color-primary: #F9F9F9;
    --background-btn: #f8b33b;
    --background-btn-light: #eea322;
    --background-btn-secondary: #f84447;
    --background-btn-secondary-light: #f53033;

    font-size: 100%;
}

.landing-all{
    width: 100vw;
    height: 80vh;
    margin-top: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--background-secondary);
}

.landing-container{
    width: 90vw;
    max-width: 1000px;

    max-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li{
    list-style: none;
}

.item-user{
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 3px 4px 0px 4px;
}

.nav-bar .nav-bar-itens img{
    width: 30px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 15px 0;

    font-family: 'Alef', sans-serif;
    font-size: 2rem;
    color: var(--color-primary);
}

.landing-line {
    font-family: 'Baloo 2', cursive;
    font-size: 1.3rem;
}

.logo-container img{
    width: 4rem;
}

.landing-background{
    display: none;
}

.landing-container p{
    margin: 1rem 2rem;
    font: 400 0.8rem Archivo;
    color: var(--color-primary);
}

.btn-container-landing{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 1.5rem 0;
}

.btn-container-landing a{
    width: 10rem;
    height: 3.5rem;

    border-radius: 4px;

    font: 700 1rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-primary);

    transition: background 0.4s;

}

.btn-container-landing a img{
    width: 22px;
    margin-right: 5px;
}

.btn-container-landing a.btn-help{
    background: var(--background-btn-secondary);
}

.btn-container-landing a.btn-idea{
    margin-top: 15px;
    background: var(--background-btn);
}

.btn-container-landing a.btn-help:hover{
    background :var(--background-btn-secondary-light);
}

.btn-container-landing a.btn-idea:hover{
    background: var(--background-btn-light);
}
@media(min-width:900px){
    .landing-all{
        width: 98.72vw;
        height: 100vh;
        margin-top: 10px;    
    }

    .landing-container{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-areas:"paragrafo land-back"
                            "btn land-back" ;                        
        gap: 50px;
    }

    .landing-text{
        padding-top: 50px;
        padding-right: 90px;
        grid-area: paragrafo;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
    }

    .logo-container{
        font-size: 3rem;
        justify-content: flex-start;
    }

    .landing-line {
        font-size: 8rem;
    }

    .landing-container p{
        grid-area: paragrafo;

        margin: 0;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .btn-container-landing{
        padding-bottom: 50px;
        grid-area: btn;
        flex-direction: row;
        justify-content: flex-start;
    }

    .btn-container-landing a.btn-idea{
        margin-top: 0px;
        margin-left: 15px;
    }

    .landing-background{
        display:flex;
        width: 20rem;
        grid-area: land-back;
    }
}