.container-ideia-form{
    width: 100%;
}
.ideas-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    font-family: Archivo, sans-serif;      
    background: var(--background-primary);
}

.ideas-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    background: var(--background-secondary);
    padding: 2rem 0 1rem 0;
}

.ideas-categories {
    padding: 0 15px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    outline: none;
}

.all {
    font-family: Poppins, sans-serif;
    width: 240px;
    height: 34px;

    margin: 10px 0;
}

.localization-input {
    border: none;
    padding: 0 15px;
    border-radius: 9px;
    margin-top: 1rem;
    outline: none;
}

.search-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.search-input {
    padding: 0 15px;
    border: none;    
    border-radius: 9px 0px 0px 9px;
    outline: none;
}

.search-btn {
    width: 40px;
    height: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--background-btn-user);
    border: none;
    border-radius: 0px 9px 9px 0px;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.search-icon {
    width: 1rem;
    height: auto;
    
    outline: none;
}

/*****************************************************************************************************/

.project-cards {
    width: 100%;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding-top: 15px;
    
    background-image: url(../../assets/img/Project-description/pattern-objeto.png);
}

.project-card {
    width: 18rem;
    height: 9.5rem;

    display: flex;
    flex-direction: column;   
    justify-content: space-around;
    text-align: justify;

    background: url(../../assets/img/ideas/background-ideas.jpg) center / cover no-repeat;
    padding: 1.3rem;
    border-radius: 9px;
    margin-bottom: 20px;  
}

.icon-title-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-ideas {
    width: 3rem;
    height: 3rem;
    margin-left: 5px;

    border-radius: 50%;
}

.project-title-link {
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-basic);
    text-align: left;
    padding-left: 2rem;
}

.ideas-paragraph {
    text-align: left;
    font-size: 1rem;
    color: var(--color-basic);
}

.btn-ideas {
    width: 8rem;
    height: 2rem;

    font-family: Poppins, sans-serif;
    color: var(--color-primary);
    background: var(--background-btn-user);
    
    border: none;
    border-radius: 9px;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.search-btn:hover, 
.btn-ideas:hover {
    opacity: .8;
}

@media (min-width: 900px) {
    .ideas-container {
        display: flex;
        flex-direction: row;
    }

    .container-ideia-form{
        width: 30%;
        height: 100vh;
        justify-content: flex-start;
    }

    .ideas-form {
        width: 30%;
        height: 100%;
         
        display: flex;
        flex-direction: column;
        align-items: center;

        position: fixed;
        
        padding: 15px;
        margin: 0;
    }

    .project-cards {
        width: 80%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .project-card {
        width: 18rem;
        height: 11rem;

        padding: 1rem;
        margin: 10px 10px;
    }
    
    .hide-div-three {
        display: flex;
    }

    .hide-div-four {
        display: none;
    }
    
    .icon-title-cards {
        display: flex;
        flex-direction: row;

        margin: 0;
        padding-bottom: .5rem;
    }
    
    .icon-ideas {
        width: 3.5rem;
        height: 3.5rem;

        padding: 0 0 .5rem .5rem;
    }
    
    .project-title-link {
        display: flex;       
        text-align: left;
        
        font-size: 1.2rem;
    }

    .ideas-paragraph{
        text-align: left;
    }
   
    .btn-ideas {
        width: 10rem;
        height: 2.5rem;

        position: absolute;
        left: 5%; 
        transform: translateX(-50%); 
        bottom: 0; 
        transform: translateY(-50%);
    }
}

@media (min-width: 1280px) {      
    .project-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project-card {
        width: 20rem;
        height: 12rem;
    }

    .hide-div-three {
        display: flex;
    }

    .hide-div-four {
        display: flex;
    }
    
    .icon-title-cards {
        display: flex;
        flex-direction: row;
    }
}