/* body {
    background: linear-gradient(45deg, rgb(86, 86, 245), rgb(255, 98, 98));
    background: gray;
    background: honeydew;
    background: white;
} */

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 10;
}

.transbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--background-idea);
    opacity: 0.5;
    z-index: 1;
}

.logo-header {
    width: 250px;
}

.menu {
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.item-menu {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.link-item-menu {
    width: 100%;
    height: 100%;
    color: var(--color-primary);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.link-item-menu:hover {
    background: var(--background-idea);
}
