.container-ideia-form{
    width: 100%;
}
.ideas-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 80px;

    font-family: Archivo, sans-serif;      
    background: var(--background-primary);
}

.ideas-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    background: var(--background-secondary);
    padding: 2rem 0 1rem 0;
}

.ideas-categories {
    padding: 0 15px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    outline: none;
}

.all {
    font-family: Poppins, sans-serif;
    width: 240px;
    height: 34px;

    margin: 10px 0;
}

.localization-input {
    border: none;
    padding: 0 15px;
    border-radius: 9px;
    margin-top: 1rem;
    outline: none;
}

.search-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.search-input {
    padding: 0 15px;
    border: none;    
    border-radius: 9px 0px 0px 9px;
    outline: none;
}

.search-btn {
    width: 40px;
    height: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--background-btn-user);
    border: none;
    border-radius: 0px 9px 9px 0px;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.search-icon {
    width: 1rem;
    height: auto;
    
    outline: none;
}

/*****************************************************************************************************/

.project-cards {
    width: 100%;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding-top: 15px;
    
    background-image: url(../../assets/img/Project-description/pattern-objeto.png);
}

.card{
    width: 18rem;
    margin: 15px;
    background: #F1F1F1;
    border-radius: 3px;
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.1,1.1);
}

.main-card{
    height: 9rem;
}

.title-card{
    padding: 5px 15px;
    
    display:flex;
    align-items:center;
    justify-content:center;
    
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #0f0f0f;
    text-align: center;
}
  
.paragraph-card{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    padding: 5px 15px;
    color: #9E9E9E;
    font-weight: bold;
}
  
.div-information{
    width:100%;
    margin-top:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.information{
    width: 6rem;
    height: 4rem;
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background: #FCBA04;
}
  
.information-center{
    border-left: 2px solid #00000023;
    border-right: 2px solid #00000023;
    border-radius:0;
}
  
.information-left{
    border-radius: 0 0 0 3px;
}
  
.information-right{
    border-radius: 0 0 3px 0;
}
  
.information h3.title-information{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #0f0f0f;
}
  
.information p.paragraph-information{
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    text-align: center;
    color: #0f0f0f;
    padding-top: 2px;
}

.ideas-paragraph {
    text-align: left;
    font-size: 1rem;
    color: var(--color-basic);
}

.btn-ideas {
    width: 8rem;
    height: 2rem;

    font-family: Poppins, sans-serif;
    color: var(--color-primary);
    background: var(--background-btn-user);
    
    border: none;
    border-radius: 9px;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.search-btn:hover, 
.btn-ideas:hover {
    opacity: .8;
}

@media (min-width: 900px) {
    .ideas-container {
        width: 98.7vw;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin-top: 80px;
    }

    .container-ideia-form{
        width: 30%;
        height: 100vh;
        justify-content: flex-start;
    }

    .ideas-form {
        width: 30%;
        height: 100%;
         
        display: flex;
        flex-direction: column;
        align-items: center;

        position: fixed;
        
        padding: 15px;
        padding-bottom: 0px;
        margin: 0;
    }

    .project-cards {
        width: 75%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .hide-div-three {
        display: flex;
    }

    .hide-div-four {
        display: none;
    }

    .ideas-paragraph{
        text-align: left;
    }
   
    .btn-ideas {
        width: 10rem;
        height: 2.5rem;

        position: absolute;
        left: 5%; 
        transform: translateX(-50%); 
        bottom: 0; 
        transform: translateY(-50%);
    }
}

@media (min-width: 1280px) {      
    .project-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hide-div-three {
        display: flex;
    }

    .hide-div-four {
        display: flex;
    }
    
    .icon-title-cards {
        display: flex;
        flex-direction: row;
    }
}