
:root{
    --background-primary: #009FFD;
    --background-secondary: #0370af;
    --color-primary: #F9F9F9;
    --background-btn: #f8b33b;
    --background-btn-light: #eea322;
    --background-btn-secondary: #fb6567;
    --background-btn-secondary-light: #f85053;

    font-size: 100%;
}


.registerIdeia-Form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: var(--background-primary);
    
    
}
.registro-idea{
    font: 300 1rem Archivo;
    background-color: var(--color-primary);
    box-shadow: -3px 3px -3px -1.5px blue;
    padding:auto;
    justify-content: center;
    border-radius: 15px;
}
.registro-idea h3{
    font-size:35px ;
    margin-bottom: 20px;
}
.registerIdeia-Form label{
    margin-left:10px;
}
.registerIdeia-Form input{
    margin-left: 50px;
}
.registerIdeia-Form textarea{
    margin-left: 30px;
}
.btn-form{
    display: flex;
    flex-direction: row;
}
.btn-form a{
    width: 6rem;
    height: 2rem;
    border:solid 0.5px blue;
    border-radius: 9px;
    background-color: var(--background-secondary);
    font: 500 1.2rem Archivo;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin:10px;
    

}
.btn-form a:hover{
    background-color: var(--color-primary);
    color: blue;
}
