
.registerIdeia{
    width: 100vw;
    height: 100vh;
    background-color:var(--background-primary);
    

}
.registerIdeia-Form{
    background-color: white;
    color: black;
    height: 100vh;
    width: 80vw;
    margin-left:30px;
    border-radius: 10px;
    display:grid;
    text-align: center;
    
    
}
.div{
    display:grid;
    grid-template-columns: 80px  170px;
    grid-template-rows: 30px 20px;
    column-gap: 1px;
    }

.h3{
    text-align: center;
    padding-top: 15px;
    margin-bottom: 4px;
    font-size: 15px;
}
.label{
margin-top: 4px;
margin-left: 20px;
text-align: left;
}
.input{
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 50px;
    border-radius: 5px;
}
.select{
    margin-bottom: 5px;
    margin-top: 5px;
}
#descricao{
    margin-top: 5px;
    margin-right: 10px;
}
#btn-form{
    margin-top:20px;
    margin-left:5px;
    
    
}
.btn-voltar{
    border: 1px solid var(--background-secondary);
    padding: 5px;
    border-radius: 9px;
    background-color: var(--background-secondary);
    color: white;
    font: 400 1.2em Archivo; 
    margin-left: 20px;  
}
.btn-enviar{
    border: 1px solid var(--background-secondary);
    padding: 5px;
    border-radius: 9px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: var(--background-secondary);
    color: white;
    font: 400 1.2em Archivo;
}
@media(min-width:720px){
    .h3{
        margin-left: 10%;
        font-size: 20px;
        
    }
    .registerIdeia-Form{
        
        margin-left: 10%;
        display:grid;
        
        border-radius: 10px;
       

        
    }
    .div{
        font-size: 20px;
        display: grid;
        grid-template-columns: 150px  269px;
        grid-template-rows: 40px 10px;
        column-gap: 1px;
        width: 80%;
    }
   
    #btn-form{
        text-align: center;
    }
}

