.register-ideia-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--background-primary);
    padding: 20% 5% 5% 5%;
}

.register-ideia-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    padding: 0 2%;
}

.register-ideia-form {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 6%;
}

.register-ideia-div {
    padding-bottom: .5rem;
}

.register-ideia-label {
    color: var(--color-primary);
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding: 0 .5rem;
}

.register-ideia-input {
    width: 1rem;
    height: 1.4%;
    border: none;
    border-radius: 4px;
}

.registerideia-input-nome {
    width: 10.9rem;
    height: 1.4rem;
}

.registerideia-input-endereco {
    width: 9.2rem;
    height: 1.4rem;
}

.registerideia-input-telefone {
    width: 9.7rem;
    height: 1.4rem;
}

.registerideia-input-email {
    width: 10.8rem;
    height: 1.4rem;
}

.registerideia-cidade-uf {
    display: flex;
    flex-direction: row;
}

.registerideia-input-cidade {
    width: 5rem;
    height: 1.4rem;
    border: none;
    border-radius: 4px;
}

.registerideia-input-uf {
    width: 3rem;
    height: 1.4rem;
    border: none;
    border-radius: 4px;
}

.register-ideia-select {
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 4px;
}

.registerideia-select-tipo {
    width: 7.2rem;
    height: 1.4rem;
}

.registerideia-select-categorias {
    width: 8.5rem;
    height: 1.4rem;
}

.register-ideia-textarea {
    width: 9rem;
    height: 1.4rem;
    border: none;
    border-radius: 4px;
}

.register-ideia-btn-div {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
}

.link-item-menu {
    width: 5rem;
    height: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: .5;
    font-weight: 300;
    border-radius: 4px;
    border: none;    
    background: var(--background-btn-user);
    margin: 1% 3%;
    transition: .4s;
}

.link-item-menu {
    background: var(--background-secondary);
}
