.container-register-ideia{
    width: 100vw;
    margin-top: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: var(--background-secondary);
}

.container-register-title{
    font-size: 2rem;
    padding: 15px 0;
}

.container-ideia-dados{
    width: 85%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-ideia-input{
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.container-ideia-label{
    font-size: 1rem;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

.ideia-input{
    width: 100%;
    height: 2rem;
    outline: none;
    border: 1px solid var(--color-primary);
    border-radius: 2px;
    padding: 8px;
    background-color: var(--color-primary);
    color: #161414;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.container-ideia-dados2{
    width: 85%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container-ideia-input2{
    width: 100%;
    margin-right: 5px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.ideia-select{
    width: 100%;
    height: 2rem;
    margin-top: 5px;
}

.ideia-select-1{
    margin-right: 5px;
}

.ideia-textarea{
    width: 100%;
    height: 9rem;
    outline: none;
    border: 1px solid var(--color-primary);
    border-radius: 2px;
    padding: 8px;
    background-color: var(--color-primary);
    color: #161414;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.container-ideia-btn{
    width: 12rem;
    height: 3rem;
    margin-top: 15px;
    margin-bottom: 20px;

    background: var(--background-btn-secondary-light);
    border-radius: 9px;

    font: 700 1rem Poppins;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    color: var(--color-primary);

    transition: background 0.4s;
}

.container-ideia-btn:hover {
    background :var(--background-btn-secondary);
}


@media(min-width:720px){
    .container-register-ideia{
        width: 98.72vw;
    }
}