@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root{
    --background-primary: #009FFD;
    --background-secondary: #0370af;
    --color-primary: #F9F9F9;
    --background-btn: #f8b33b;
    --background-btn-light: #f8ac2a;
    --background-btn-secondary: #fb6567;
    --background-btn-secondary-light: #fa585b;


    
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}