.footer-conatiner-all{
    width: 100%;

    position: absolute;
    display:flex; 
    justify-content: center;
    align-items: center;

    background: var(--hover-header);
    font-family: 'Alef', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    padding: 10px 0;
}

.footer-conatiner{
    width: 100%;
    max-width: 1000px;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logo-footer-img{
    width: 30px;
}

.logo-footer-title{
    font-size: 1rem;
}

.footer-devs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-devs-itens{
    font-size: 0.9rem;
    color: var(--color-primary);
    cursor: pointer;
}

.footer-devs-itens:hover{
    text-decoration: underline;
}

.copy{
    font-size: 0.8rem;
}

@media(min-width:720px){
    .footer-conatiner{
         height: 50px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 30px;
    }

    .footer-devs-all{
        display: flex;
        flex-direction: row;
        padding: 15px 0;
    }

    .footer-devs{
        padding: 0 10px;
    }
}